@charset "UTF-8";
/* line 1, ../Work/HTML/Learn/Верстка Бутстрап/src/sass/style.sass */
* {
  font-family: 'Roboto', sans-serif;
}

/* line 4, ../Work/HTML/Learn/Верстка Бутстрап/src/sass/style.sass */
header {
  position: relative;
}

/* line 7, ../Work/HTML/Learn/Верстка Бутстрап/src/sass/style.sass */
nav {
  height: 50px;
  background-color: #212121;
  position: fixed;
  z-index: 3;
  width: 100%;
}

/* line 14, ../Work/HTML/Learn/Верстка Бутстрап/src/sass/style.sass */
.menu {
  display: flex;
  justify-content: space-between;
  padding: 13px 70px;
  margin: 0;
  list-style-type: none;
}

/* line 21, ../Work/HTML/Learn/Верстка Бутстрап/src/sass/style.sass */
.menu .menu_link {
  color: #ffffff;
  font-size: 15px;
  font-weight: 300px;
}

/* line 26, ../Work/HTML/Learn/Верстка Бутстрап/src/sass/style.sass */
.menu .menu_item {
  border-right: 2px dotted black;
  padding-right: 27px;
}

/* line 30, ../Work/HTML/Learn/Верстка Бутстрап/src/sass/style.sass */
.subheader {
  background-color: rgba(0, 0, 0, 0.6);
  height: 84px;
  position: absolute;
  width: 100%;
  top: 50px;
  z-index: 2;
}

/* line 38, ../Work/HTML/Learn/Верстка Бутстрап/src/sass/style.sass */
.subheader .subheader_logo {
  max-width: 100%;
  margin-top: 16px;
  display: block;
}

/* line 43, ../Work/HTML/Learn/Верстка Бутстрап/src/sass/style.sass */
.subheader .subheader_call {
  font-size: 12px;
  color: #fff;
  text-align: right;
  margin-top: 18px;
  font-weight: 300;
}

/* line 50, ../Work/HTML/Learn/Верстка Бутстрап/src/sass/style.sass */
.subheader .subhader_phone {
  display: block;
  margin-top: 8px;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  text-transform: uppercase;
  text-align: right;
  line-height: 22px;
}

/* line 60, ../Work/HTML/Learn/Верстка Бутстрап/src/sass/style.sass */
.subheader .subheader_btn {
  width: 172px;
  height: 46px;
  box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
  border: none;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.21);
  color: #fff;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 19px;
  border-radius: 4px;
}

/* line 74, ../Work/HTML/Learn/Верстка Бутстрап/src/sass/style.sass */
.promo {
  height: 800px;
  background: url("../img/Top-BG.png") center center/cover no-repeat;
  padding: 150px 0 135px 0;
  position: relative;
  top: 50px;
  z-index: 1;
}

/* line 82, ../Work/HTML/Learn/Верстка Бутстрап/src/sass/style.sass */
.promo .promo_header {
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 60px;
  line-height: 60px;
  margin-bottom: 0;
  text-align: center;
}

/* line 91, ../Work/HTML/Learn/Верстка Бутстрап/src/sass/style.sass */
.promo .promo_subheader {
  color: #fff;
  font-size: 36px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 36px;
  line-height: 36px;
  margin-bottom: 0;
  margin-top: 22px;
  text-align: center;
}

/* line 102, ../Work/HTML/Learn/Верстка Бутстрап/src/sass/style.sass */
.promo .promo_desc {
  color: #fff;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  margin-top: 23px;
  text-align: center;
}

/* line 110, ../Work/HTML/Learn/Верстка Бутстрап/src/sass/style.sass */
.promo .promo_btn {
  width: 259px;
  height: 63px;
  box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
  border: none;
  border-radius: 4px;
  background-image: linear-gradient(to top, #1eacc7 0%, #4ce2ff 100%);
  text-shadow: 1px 1px rgba(0, 0, 0, 0.21);
  color: #fff;
  margin: 118px auto 0 auto;
  display: block;
}

/* line 122, ../Work/HTML/Learn/Верстка Бутстрап/src/sass/style.sass */
.services {
  margin: 50px auto;
  max-width: 1140px;
}

.services .features{
  margin: 50px auto;
  max-width: 1140px;
}

/*# sourceMappingURL=style.css.map */